<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-1">
			<h2 class="font-light">
				Nail Factory
			</h2>
			<div class="mt-20">
				<p class="bigger nomargin">
					12A, Gnatyuka str.
				</p>
				<p class="bigger nomargin">
					Lviv
				</p>
			</div>
			<div class="mt-20">
				<p class="bigger nomargin">
					(068) 029 29 09
				</p>
				<p class="bigger nomargin">
					<a href="mailto:info@nailfactory.co">info@nailfactory.co</a>
				</p>
			</div>
			<div class="mt-20 mb-30">
				<p>
					We are always happy to work with new partners, who share our ideas and values. <br><a href="mailto:info@nailfactory.co">E-mail</a> us about the details of our FRANCHISING.
				</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="assets/img/interior3.jpg" alt="Nails Factory Lviv" class="img-fullwidth mb-40" />
			<div class="mb-30">
				<p class="text-uppercase bigger">Hours:</p>
				<p>Ми відкриті щодня з 9:00 до 21:00</p>
			</div>
			<div class="mb-30">
				<p class="text-uppercase bigger">Appointments and events:</p>
				<p><a href="https://n19566.yclients.com/" target="_blank">Book on-line</a> or call (068) 029 29 09</p>
				<p>Please call or <a href="mailto:info@nailfactory.co">email</a> to inquire about the details of organizing parties and private events</p>
			</div>
			<div class="mb-30">
				<p class="text-uppercase bigger">Payment:</p>
				<p>All major credit cards accepted (Visa, MasterCard, American Express and Discover).</p>
			</div>
		</div>
	</div>
</div>