// bootstrap import
@import './bootstrap/bootstrap.less';

// components
@import './components/helpers.less';
@import './components/fonts.less';

// page styles
html {
  position: relative;
  min-height: 100%;
}
body {
	color: #262626;
	font-family: Helvetica;
	margin-bottom: 125px;
	font-family: @font-light, Helvetica, Arial, sans-serif;
}
p {
	line-height: 1.78;
	&.bigger {
		font-size: 16px;
	}
	&.smaller {
		font-size: 12px;
	}
	&.nomargin {
		margin-bottom: 0;
		line-height: 1.4;
	}
}
a {
	cursor: pointer;
}
.curr {
	font-family: sans-serif;
	font-weight: 300;
}
h2 {
	font-family: @font-light-secondary, Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 15px;
}
h3 {
	font-size: 22px;
	margin-bottom: 18px;
}
.font-light {
	font-family: @font-light, Helvetica, Arial, sans-serif;
}
header {
	margin-top: 30px;
	text-align: center;
	position: relative;
	margin-bottom: 50px;
	.logo-container {
		display: inline-block;
		width: 90px;
		height: 90px;
		.logo {
			max-width: 100%;
		}
	}
	@media (max-width: @screen-xs-max) {
		margin-bottom: 30px;
	}
	.nav-language {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0;
		padding-left: 0;
		li {
			display: inline-block;
			font-size: 12px;
			padding: 0 10px;
			&:first-child {
				border-right: 1px solid black;
			}
			a {
				color: #000;
				
			}
			&.active a, &.active a:hover {
				color: @brand-danger;
				text-decoration: none;
				cursor: default;
			}
		}
		@media (max-width: @screen-sm-max) {
			right: initial;
			left: 0;
		}
	}
	.nav-toggle {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 30px;
		height: 30px;
		background: url('img/sprite.svg');
		background-position: -100px 0;
		background-repeat: no-repeat;
		border: none;
		box-shadow: none;
		outline: none;
		&:hover, &:active {
			background-position: -150px 0;
		}
		@media (min-width: @screen-md) {
			& {
				display: none;
			}
		}
		@media (max-width: @screen-xs-max) {
			& {
				background-position: -200px 0;
				height: 20px;
			}
			&:hover, &:active {
				background-position: -250px 0;
			}
		}
	}
}
.nav.nav-tabs {
	margin-bottom: 30px;
	text-align: center;
	> li {
		float: none;
		display: inline-block;
		margin: 0;
		font-size: 16px;
		> a, a:hover {
			border-right: 1px solid #000;
			border-radius: 0;
			color: #000;
			margin-right: 0;
			cursor: pointer;
		}
		&:last-child a {
			border-right: none;
		}
		&.active a {
			color: @brand-danger;
		}
	}
	@media (max-width: @screen-sm-max) {
		border: 1px solid @brand-danger;
		width: 98%;
		margin: 0 auto 30px;
		padding: 21px 0;
		> li {
			> a, > a:hover {
				border-right: 0;
				padding: 0 10px;
			}
		}
	}
	@media (max-width: @screen-xs-max) {
		> li {
			display: block;
			margin-bottom: 10px;
			> a {

			}
		}
	}
}
nav {
	max-height: 900px;
	opacity: 1;
	transition: all 0.2s ease-out;
	overflow: hidden;
	@media (max-width: @screen-sm-max) {
		&.nav-hidden-mobile {
			max-height: 0px;
			opacity: 0;
			transition-delay: 0.15s;
		}
	}
}	
.gift-img {
	margin-top: 40px;
	width: 100%;
	max-width: 320px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 95px;
	.social-bar {
		margin-bottom: 15px;
		.social-bar-item {
			display: inline-block;
			width: 30px;
			height: 30px;
			&.social-facebook {
				background: url('img/sprite.svg');
				background-position: -50px 0;
				background-repeat: no-repeat;
			}
			&.social-instagram {
				background: url('img/sprite.svg');
				background-position: 0 0;
				background-repeat: no-repeat;
			}
		}
	}
}
.book-online-btn {
	padding: 19px 46px;
    border-radius: 0;
    background: transparent;
    color: @brand-danger;
    transition: background-color 0.15s ease, color 0.15s ease;
    &:hover {
    	background: @brand-danger;
    }
}

@media (min-width: @screen-lg) {
	.row {
		&.has-bigger-gutter {
			margin-left: -(@grid-gutter-width);
			margin-right: -(@grid-gutter-width);
			> [class*="col-"] {
				padding-left: @grid-gutter-width;
				padding-right: @grid-gutter-width;
			}
		}
	}
}