<div class="container-inner">
	<p class="text-center">
		Nail Factory — це комфортна, проста та сучасна нейл студія. Місце, де поважають час, бережуть нерви та знають свою роботу. Центральна локація, стильний простір, професійний сервіс.
	</p>
	<p class="text-center mb-20">
		До нас можна 
		<a href="https://n19566.yclients.com/" target="_blank">записатись он-лайн</a> або зателефонувавши <a href="tel:380680292909" class="visible-xs">(068) 029 29 09</a><span class="hidden-xs">(068) 029 29 09</span>
	</p>
	<img src="assets/img/interior.jpg" alt="Nail Factory" class="img-fullwidth" />
	<p class="text-center bigger mt-40 mb-40">
		Ми відкриті щодня з 9:00 до 20:00
	</p>
	<p class="address text-center">
		вул. Гнатюка 12A, м. Львів
	</p>
</div>