<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-1">
			<h2 class="font-light">
				Nail Factory
			</h2>
			<div class="mt-20">
				<p class="bigger nomargin">
					вул. Гнатюка 12А
				</p>
				<p class="bigger nomargin">
					м. Львів
				</p>
			</div>
			<div class="mt-20">
				<p class="bigger nomargin">
					(068) 029 29 09
				</p>
				<p class="bigger nomargin">
					<a href="mailto:info@nailfactory.co">info@nailfactory.co</a>
				</p>
			</div>
			<div class="mt-20 mb-30">
				<p>
					Ми раді співпраці з новими партнерами, що розділяють наші ідеї на цінності.<br>За деталями нашого ФРАНЧАЙЗІНГУ звертайтесь на наш <a href="mailto:info@nailfactory.co">e-mail</a>.
				</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<img src="assets/img/interior3.jpg" alt="Nails Factory Lviv" class="img-fullwidth mb-40" />
			<div class="mb-30">
				<p class="text-uppercase bigger">Години:</p>
				<p>Ми відкриті щодня з 9:00 до 21:00</p>
			</div>
			<div class="mb-30">
				<p class="text-uppercase bigger">Запис та події:</p>
				<p>До нас можна <a href="https://n19566.yclients.com/" target="_blank">записатись он-лайн</a> або зателефонувавши за номером (068) 029 29 09. Будь-ласка зателефонуйте нам або напишіть <a href="mailto:info@nailfactory.co">email</a>, щоб дізнатись про деталі організації вечірок або приватних заходів</p>
			</div>
			<div class="mb-30">
				<p class="text-uppercase bigger">Оплата:</p>
				<p>В нас можна розрахуватись кредитними картками Visa, MasterCard.</p>
			</div>
		</div>
	</div>
</div>