<div class="container">
	<div class="row flex-parent">
		<div class="col-xs-12 col-md-5 col-md-offset-1 flex-child">
			<img src="assets/img/interior2.jpg" alt="Nails Factory Lviv" class="img-fullwidth mb-40" />
		</div>
		<div class="col-xs-12 col-md-5 flex-child flex-parent flex-align-center">
			<div class="flex-child">
				<p class="mb-20">
					Ми з задоволенням допоможемо в організації вечірки або приватного заходу в честь дня народження, дівич-вечора чи ранку нареченої.
					
				</p>
				<p>
					Будь-ласка зателефонуйте нам або напишіть <a href="mailto:info@nailfactory.co">email</a>, щоб дізнатись умови та деталі організації.
				</p>
			</div>
		</div>
	</div>
</div>