<div class="container">
	<p class="text-center mt-20">
		В нас можна придбати подарункові сертифікати на послуги Nail Factory різного номіналу. Сертифікат має необмежену дію в часі та кількості відвідувань. Дія сертифікату припиняється по закінченні використання номіналу сертифікату.
	</p>
	<div class="row text-center">
        <div class="col-xs-12 col-md-12 col-lg-4">
			<img src="assets/img/gift400.jpg" alt="Gift card 400 UAH" class="img-fullwidth gift-img" />
		</div>
		<div class="col-xs-12 col-md-12 col-lg-4">
			<img src="assets/img/gift600.jpg" alt="Gift card 600 UAH" class="img-fullwidth gift-img" />
		</div>
		<div class="col-xs-12 col-md-12 col-lg-4">
			<img src="assets/img/gift1000.jpg" alt="Gift card 1000 UAH" class="img-fullwidth gift-img" />
		</div>
	</div>
</div>