<div class="container">
	<p class="text-center font-secondary mt-20 mb-20">
		Тут можна побачити наші найбільш популярні послуги.
Щоб побачити наш повний прейскурант (та записатись на обрану процедуру), будь ласка, 
		<a href="https://n19566.yclients.com/" target="_blank">натисніть сюди</a>.
		<div class="text-center">
			<a href="https://n19566.yclients.com/" class="btn btn-danger book-online-btn" target="_blank">записатись он-лайн</a>
		</div>
	</p>
</div>
<div class="container">
	<h2 class="mt-40">Манікюр</h2>
	<div class="row flex-parent has-bigger-gutter">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Класичний манікюр 130<span class="curr">₴</span>
			</h3>
			<p>
			Класична обрізна чистка, усі матеріали використовуються одноразово та індивідуально, інструменти ретельно стерилізуються.</p>
          	<p class="smaller text-left">(покриття не включено у вартість)</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Апаратний манікюр 240<span class="curr">₴</span>
			</h3>
			<p>Чистка виконується виключно апаратом.</p>

           <p class="smaller text-left">(покриття не включено у вартість)</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Комбінований манікюр 180<span class="curr">₴</span>
			</h3>
			<p>
				Чистка виконується апаратом із залученням класичної обрізної техніки на окремих ділянках.
			</p>
            <p class="smaller text-left">(покриття не включено у вартість)</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
			Покриття гель-лак 240
			</h3>
			<p>
			Використовуються гель-лаки Luxio, Beautix, CND, Perfect Match.
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Покриття лак 180<span class="curr">₴</span>
			</h3>
			<p>
				Звичайне покриття лаком Zoya, Essie.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Дизайн нігтів 100-200<span class="curr">₴</span>
			</h3>
			<p>
				Художній розпис, аерограф, мінкс, стемпінг будь-якої складності.
			</p>
		</div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Система укріплення IBX 240<span class="curr">₴</span>
			</h3>
			<p>
			Ефективна і працююча система захисту та відновлення, яка проникає всередину нігтя, а не лише діє на поверхні.
			</p>
		</div>
        
           <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Чоловічий манікюр 200<span class="curr">₴</span>
			</h3>
			<p>
		      Класична чистка обрізним або комбіновано-апаратним методом та масаж рук.
			</p>
            <p class="smaller text-left">(покриття не включено у вартість)</p>   
		</div>
        
	</div>
	<h2 class="mt-40">Педикюр</h2>
	<div class="row flex-parent has-bigger-gutter">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Класичний педикюр 360<span class="curr">₴</span>
			</h3>
			<p>
				Класичний педикюр включає чистку ніг та нігтів класичним обрізним, апаратним/комбінованим або кислотним методом та масаж ніг.
			</p>
            <p class="smaller text-left">(покриття не включено у вартість)</p> 
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Чоловічий педикюр 450<span class="curr">₴</span>
			</h3>
			<p>
				Класичний педикюр включає чистку ніг та нігтів класичним обрізним, апаратним/комбінованим або кислотним методом та масаж ніг.
			</p>
            <p class="smaller text-left">(покриття не включено у вартість)</p> 
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Подологія 70-600
			</h3>
			<p>
				Вирішення будь-яких проблемних ділянок на ногах: мозолі, тріщини, врослі нігті, тощо. Технологія “Титанова нитка”.
			</p>
		</div>
	</div>
	<h2 class="mt-40">Додаткові послуги</h2>
	<div class="row flex-parent has-bigger-gutter">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				СПА-догляд 250<span class="curr">₴</span>
			</h3>
			<p>
			Релакс, відновлення, живлення – ритуали догляду за руками та ногами з використанням німецьких продуктів, а також системи EcoFin Paraffin Alternative.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Дитячий манікюр/педикюр 70/150<span class="curr">₴</span>
			</h3>
			<p>
			Класичний мінімально інвазивний манікюр та педикюр діьям до 12 років.
			</p>
            <p class="smaller text-left">(покриття лаком додатково коштує 70)</p> 

		</div>
	</div>
</div>
<div class="container-inner mt-40">
	<p>
		Ми зосереджені на максимально природньому догляді за нігтями і тому свідомо вирішили не надавати послуги акрилового або гелевого нарощення нігтів для здоров'я і безпеки наших клієнтів і співробітників.
	</p>
	<p>
		Для нас є надважливим надавати вийняткове обслуговування і практикувати найвищі стандарти в області санітарії. Одними з перших в Україні ми проводимо 4х ступеневий процес стерилізації з використанням нового медичного автоклаву для очистки всіх металевих інструментів. Наші педикюрні ванночки обробляються після кожної процедури сертифікованим медичним очисником, що використовується в хірургічних залах. В своїй роботі ми максимально використовуємо одноразові інструменти, включаючи одноразові пилочки для кожного клієнта.
	</p>
	<p class="smaller text-center mt-40">
		В нас можна розрахуватись кредитними картками Visa та MasterCard.
	</p>
</div>