.container-inner {
	max-width: 700px;
	&:extend(.container);
}
.container .container-inner, .container .container {
	padding: 0;
}
.img-fullwidth {
	max-width: 100%;
}

// flexbox features in bootstrap grid
.flex-parent { // add this to a .row element
	display: flex;
	flex-wrap: wrap;
}
.flex-child {
	flex: 0 1 auto;
}
.mt-40 {
	margin-top: 40px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-20 {
	margin-bottom: 20px;
}
.flex-align-center { // must be added to flex-parent
	align-items: center;
}
.font-secondary {
	font-family: @font-light-secondary, Helvetica, Arial, sans-serif;
}