<div class="container-inner">
	<p class="text-center">
		Nail Factory is a modern, simple and comfortable nail studio. This is a place where time is valued, and where our talented nail technicians care about their work and your experience. Central location, stylish interior, outstanding professional service.
	</p>
	<p class="text-center mb-20">
		<a href="https://n19566.yclients.com/" target="_blank">Book online</a> or call <a href="tel:380680292909" class="visible-xs">(068) 029 29 09</a><span class="hidden-xs">(068) 029 29 09</span>
	</p>
	<img src="assets/img/interior.jpg" alt="Nail Factory" class="img-fullwidth" />
	<p class="text-center bigger mt-40 mb-40">
		We are open daily from 9AM till 8PM
	</p>
	<p class="address text-center">
		12A Hnatyuka Str, Lviv
	</p>
</div>