<div class="container">
	<div class="row flex-parent">
		<div class="col-xs-12 col-md-5 col-md-offset-1 flex-child">
			<img src="assets/img/interior2.jpg" alt="Nails Factory Lviv" class="img-fullwidth mb-40" />
		</div>
		<div class="col-xs-12 col-md-5 flex-child flex-parent flex-align-center">
			<div class="flex-child">
				<p class="mb-20">
					Please call or <a href="mailto:info@nailfactory.co">email</a> to inquire about the details of organizing parties and private events.
				</p>
				<p>
					We will be happy to help with organizing a birthday party, bachelorette or bridal morning for our guests.
				</p>
			</div>
		</div>
	</div>
</div>