<div class="container">
	<p class="text-center mt-20">
		You can buy a gift certificate for Nail Factory services in our studio.
	</p>
	<div class="row text-center">
		<div class="col-xs-12 col-md-12 col-lg-4">
			<img src="assets/img/gift400.jpg" alt="Gift card 400 UAH" class="img-fullwidth gift-img" />
		</div>
		<div class="col-xs-12 col-md-12 col-lg-4">
			<img src="assets/img/gift600.jpg" alt="Gift card 600 UAH" class="img-fullwidth gift-img" />
		</div>
		<div class="col-xs-12 col-md-12 col-lg-4">
			<img src="assets/img/gift1000.jpg" alt="Gift card 1000 UAH" class="img-fullwidth gift-img" />
		</div>
	</div>
</div>