<div class="container">
	<p class="text-center font-secondary mt-20 mb-20">
		See below for our most popular services. To see our full menu (and to book an appointment online), 
		<a href="https://n19566.yclients.com/" target="_blank">click here</a>.
		<div class="text-center">
			<a href="https://n19566.yclients.com/" class="btn btn-danger book-online-btn" target="_blank">book online</a>
		</div>
	</p>
</div>
<div class="container">
	<h2 class="mt-40">Manicure</h2>
	<div class="row flex-parent has-bigger-gutter">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Classic manicure 130<span class="curr">₴</span>
			</h3>
			<p>
				The classic mani includes nail trimming, shaping, cuticle care and moisturizing had massage. Nail polish is not included in this price.
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Nail polish 150<span class="curr">₴</span>
			</h3>
			<p>
				Your choice of nail polish application.
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Gel application 200<span class="curr">₴</span>
			</h3>
			<p>
				Your choice of gel nail polish application.
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Nail Art
			</h3>
			<p>
				Nail art prices vary from 100 to 200uah depending on the complexity of the work.
			</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				IBX Nail Repair 200<span class="curr">₴</span>
			</h3>
			<p>
				IBX repairs nail damage, toughens the upper layers of the nail plate allowing nail growth, and improves the appearance of your nails.
			</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Men’s classic manicure 150<span class="curr">₴</span>
			</h3>
			<p>
				The classic mani includes nail trimming, shaping, cuticle care and moisturizing had massage. Nail polish is not included in this price.
			</p>
		</div>
	</div>
	<h2 class="mt-40">Pedicure</h2>
	<div class="row flex-parent has-bigger-gutter">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Classic pedicure 300<span class="curr">₴</span>
			</h3>
			<p>
				The classic pedi includes soak, nail trimming, shaping, cuticle care, callus care and moisturizing foot massage. Nail polish is not included in this price.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Men’s classic pedicure 380<span class="curr">₴</span>
			</h3>
			<p>
				The classic pedi includes soak, nail trimming, shaping, cuticle care, callus care and moisturizing foot massage. Nail polish is not included in this price.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Podiatry
			</h3>
			<p>
				Our certified podiatry professionals with help with any foot problems. Prices vary from 50 to 200uah depending on the complexity.
			</p>
		</div>
	</div>
	<h2 class="mt-40">Additional services</h2>
	<div class="row flex-parent has-bigger-gutter">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Mani+Pedi Combo 550<span class="curr">₴</span>
			</h3>
			<p>
				Simultanious manicure and pedicure delivered by two nail technitians. Nail polish is not included in this price.
			</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 flex-child">
			<h3>
				Kid’s Manicure 50<span class="curr">₴</span>
			</h3>
			<p>
				Classic noninvasive manicure and pedicure for the kid’s up yo 12 years old. Nail polish costs additonal 50uah.
			</p>
		</div>
	</div>
</div>
<div class="container-inner mt-40">
	<p>
		We are focused on natural nail care and have chosen not to do nail enhancements using acrylic or sculpting gel for the health and safety of our clients and employees.
	</p>
	<p>
		We are committed to providing exceptional service and practicing the highest standards in sanitation. Our pedicure tubs are cleaned after each use with a hospital-grade disinfectant. We use a medical grade autoclave to sterilize all metal implements and all of our files and buffers are single use. 
	</p>
	<p class="smaller text-center mt-40">
		All major credit cards accepted (Visa, MasterCard, American Express and Discover).
	</p>
</div>